.carousel{
  height: 90vh;
}
.navbar{
  background-color: #f59c00;
  border-radius: 0px;
  border: 0px;
}
.nav{
  width: 100%;
  text-align: center;
}
.nav>li>a{
  color: white;
}
.nav>li{
  float: none;
  display: inline-block;
}
