.carousel{
  height: 90vh;
}
.navbar{
  background-color: #f59c00;
  border-radius: 0px;
  border: 0px;
  margin:0px;
}
.nav{
  width: 100%;
  text-align: center;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background: rgba(39,145,63,1);
}
.nav>li>a{
  color: white;
}
.nav>li>a:focus , .nav>li>a:hover{
  background: rgba(39,145,63,1);
}
.nav>li{
  float: none;
  display: inline-block;
}
.nav>li:active{
  background: blue;
}
.welcome{
  border: 0px;
  max-height: 100vh;
  position: relative;
}
  .welcome h3{
    color: #f59c00;
    font-size: 80px;
    margin-bottom: 20px;
  }
  .welcome p{
    margin-bottom: 20px;
  }
.caption{
  background-color: white;
  opacity: 0.9;
  position: absolute;
  bottom: 0px;
}
.btn-hds{
  border: 0px;
  border-radius: 10px 0;
  background-color: #67a6db;
}
